
table.stats
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 11px;
color: #fff;
width: 550px;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.stats td
{background-color: #CCC;
color: #000;
padding: 4px;
text-align: center;
border: 1px #fff solid;}

table.stats td.hed
{background-color: #666;
color: #fff;
padding: 4px;
text-align: center;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;} 

table.stats td.hedextra
{background-color: #666;
color: #fff;
padding: 4px;
text-align: center;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;
width:250px;} 


/* BigBlueButton Plugin Styles
----------------------------------------------- */
#bbb-join-form { 
  background: #f6f6f6;
  padding:20px 30px 30px 30px;
  width: 420px;
  margin:0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#bbb-join-form label { 
  color: #555;
  display: block;
  padding-top: 10px;
  font-size: 14px;
}

#bbb-join-form input[type=text], #bbb-join-form input[type=password] {
  color: #777;
  margin: 5px 0px 10px 0;
  padding-left:10px;
  width: 95%;
  height: 30px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
}


#bbb-join-form select {
  color: #777;
  margin: 5px 0px 10px 0;
  padding-left:10px;
  width: 100%;
  height: 40px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  background: #fff;
}


#bbb-join-form input[type=submit] { 
  margin-top:15px;
  display:block;
  /* should match width of #bbb-join-form for consistency */
  width:95%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #acd6ef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}


#bbb-join-form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}


#bbb-join-form-widget { 
  background: #f6f6f6;
  padding:5px 10px 10px 10px;
  width: 95%;
  margin:0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#bbb-join-form-widget label { 
  color: #555;
  display: block;
  padding-top: 10px;
  font-size: 14px;
}

#bbb-join-form-widget input[type=text], #bbb-join-form-widget input[type=password] {
  color: #777;
  margin: 5px 0px 10px 0;
  padding-left:10px;
  width: 95%;
  height: 25px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
}


#bbb-join-form-widget select {
  color: #777;
  margin: 5px 0px 10px 0;
  padding-left:10px;
  width: 100%;
  height: 25px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  background: #fff;
}


#bbb-join-form-widget input[type=submit] { 
  margin-top:15px;
  display:block;
  width:100%;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #acd6ef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}


#bbb-join-form-widget input[type=submit]:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}
